* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica";
    font-weight: lighter;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(240, 240, 240, 1);
    text-decoration: none;
}

#nav {
    text-align: center;
    position: relative;
    top: -200px;
}

#nav a {
    color: darkgray;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 0.5px;
}

#resume-sec a {
    color: darkgray;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 0.5px;
}

#resume {
    text-decoration: none;
    color: darkgray;
}

#main a {
    text-decoration: none;
    color: darkgray;
}

#nav a:hover {
    text-decoration: line-through;
}

.responsive {
    max-width: 100%;
}