* {
    box-sizing: border-box;
}

#body {
    background-image: url(graphic-background.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

nav a {
    text-decoration: none;
    font-family: "Helvetica";
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1em;
    color: gray;
    padding: 15px;
}

nav {
    text-align: center;
}

.responsive {
    max-width: 100%;
    max-height: 100%;
}

nav a:hover {
    font-weight: normal;
    font-size: 1.05em;
}